@model DataRepository.Entities.Block

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventText" class="control-label"></label>
                <input asp-for="EventText" class="form-control" />
                <span asp-validation-for="EventText" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Important" class="control-label me-2"></label>
                <input asp-for="Important" class="form-check-input" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary my-4" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
